.palette {
    min-width: 100px;
    height: 100px;
    display: block;
    padding: 0 1em;
    line-height: 100px;
    position: relative;
    text-align: center;
}

.palette_light {
    color: white;
}

.palettecontainer {
    display: flex;
    flex-wrap: wrap;
}
